.notification
 チャットグループが作成されました。
.wrapper
 .side-bar
  .user-bar
   .user-bar__name
    %h3 ranran
   .user-bar__icon
    %i.fa.fa-cog
    %i.fa.fa-pencil-square-o
  .group-bar
   .group-bar__box
    .group-bar__box--name
     kawasake
    .group-bar__box--message
     send
 .chat
  .header
   .left-header
    .left-header__title
     kawakami
    .left-header__members
     Member : RanRan
   .right-header
    .right-header__button
     Edit
  .messages
   .message
    .upper-message
     .upper-message__username
      kawakami
     .upper-message__date
      2014/12/25 04:04
    .lower-message
     ココイチカレー食べたいココイチカレー食べたいココイチカレー食べたいココイチカレー食べたい
     .lower-message__content
  .footer
   .footer__box
    .footer__box--message
     type a message
    .footer__box--image
     %i.fa.fa-picture-o
   .footer__submit
    send



