//font-color
$letter_black: #434A54;
$letter_white: #FFFFFF;
$letter_lightgray: #999999;
$letter_light_blue: #38AEF0;
$main-group-black: #333333;
$date-color: #999999;

//background-color
$dark-navy: #253141;
$navy: #2f3e51;
$gray: #AAAAAA;
$light-gray: #DDDDDD;
$white: #FFFFFF;
$light_blue: #38AEF0;
$alert_orange: #F35500;
