
.side-bar {
 color: $letter_white;
 width: 300px;
 float: left;
}

.user-bar {
  background-color: $dark-navy;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;

 &__name h3{
  font-size: 16px;
  font-weight: bold;
  float: left;
 }

 &__icon i{
  float: right;
  letter-spacing: 6px;
  line-height: 100px;

 }
}

.groups-bar {
 background-color: $navy;
 height: calc(100vh - 100px);
 padding: 0 20px;
}

.group-bar {
 box-sizing: border-box;
 padding: 20px 0 40px;

 &__name {
  font-size: 15px;
 }

 &__message {
  font-size: 11px;
  margin-top: 5px;
 }
}























